.container{
  display:flex;
  align-items: center;
  margin-top: 0;
  padding:15px;
  background: black;

}
h1 {
      font-size: 30px;
      font-weight: 500;
      font-family: 'Times New Roman', Times, serif;
      color: white;
      align-items: center;
  }